.contact {
  padding: 80px 20px;
  background-color: #f8fafc;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 30px;
  color: #555;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  background-color: #0ea5e9;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0284c7;
}
.hire-btn {
  background-color: #dde4e3;
  color: #302f2f;
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgb(0, 38, 252);
}
.button {
  margin-top: 35px;
}
.hire-btn:hover {
  background-color: #c4c9c8;
  color: #045c72;
  box-shadow: 0 6px 6px rgb(13, 5, 85);
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  align-self: center;
  margin: auto;
}
.name-email {
  margin: 20px 0;
  background-color: #e1e2e4;
  border-radius: 16px;
  padding: 30px;
}
.named {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}
.namedmail {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
}
textarea {
  background-color: #e0e3e4;
  border-radius: 10px;
  color: #072e9b;
  font-weight: 1000;
  font-size: 18px;
}
.subbmit {
  padding: 10px;
  width: 100px;
  margin: auto;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  background-color: #97d4f3;
  font-size: 16px;
  font-weight: bold;
  }